<!--<div id="sidedrawer" class="mui--no-user-select">
    <div id="sidedrawer-brand" class="mui--appbar-line-height">Brand.io</div>
    <div class="mui-divider"></div>
    <ul>
        <li>
            <strong>Category 1</strong>
            <ul>
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
            </ul>
        </li>
        <li>
            <strong>Category 2</strong>
            <ul>
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
            </ul>
        </li>
        <li>
            <strong>Category 3</strong>
            <ul>
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
            </ul>
        </li>
    </ul>
</div>

<header id="header">
    <div>
        <div class="mui-appbar">
            <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">?</a>
            <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">?</a>
            <a [routerLink]="['/']" class="mui--appbar-height mui--appbar-line-height" style="color:white;">{{pageTitle}}</a>
        </div>

        <ul id="slide-out" class="side-nav fixed" id="mobile-demo">
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/contact']">Contact</a></li>

        </ul>
        <div class="container mui-panel">
            <router-outlet></router-outlet>
        </div>
    </div>
</header>-->

    <header class="header header-transparent header-waterfall ui-header">
        <ul class="nav nav-list pull-left">
            <li>
                <a data-toggle="menu" href="#ui_menu">
                    <span class="icon icon-lg">menu</span>
                </a>
            </li>
        </ul>
        <a class="header-logo margin-left-no" [routerLink]="['/home']">Neumont Student Portal</a>
        <ul class="nav nav-list pull-right">
            <li class="dropdown margin-right">
                <a class="dropdown-toggle padding-left-no padding-right-no" data-toggle="dropdown">
                    <span class="access-hide">John Smith</span>
                    <span class="avatar avatar-sm"><img alt="alt text for John Smith avatar" src="../images/users/avatar-001.jpg"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a class="padding-right-lg waves-attach" href="javascript:void(0)"><span class="icon icon-lg margin-right">account_box</span>Profile Settings</a>
                    </li>
                    <li>
                        <a class="padding-right-lg waves-attach" href="javascript:void(0)"><span class="icon icon-lg margin-right">add_to_photos</span>Upload Photo</a>
                    </li>
                    <li>
                        <a class="padding-right-lg waves-attach" href="page-login.html"><span class="icon icon-lg margin-right">exit_to_app</span>Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </header>
    <nav aria-hidden="true" class="menu" id="ui_menu" tabindex="-1">
        <div class="menu-scroll">
            <div class="menu-content">
                <a class="menu-logo" href="index.html">Material</a>
                <ul class="nav">
                    <li>
                        <a class="collapsed waves-attach" data-toggle="collapse" href="#ui_menu_components">Site Map</a>
                        <ul class="menu-collapse collapse" id="ui_menu_components">
                            <li>
                                <a class="waves-attach" [routerLink]="['/home']">Home</a>
                            </li>
                            <li>
                                <a class="waves-attach" [routerLink]="['/contact']">Contact</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>