<div id="sidedrawer" class="mui--no-user-select">
    <div id="sidedrawer-brand" class="mui--appbar-line-height">Brand.io</div>
    <div class="mui-divider"></div>
    <ul>
        <li>
            <strong>Category 1</strong>
            <ul>
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
            </ul>
        </li>
        <li>
            <strong>Category 2</strong>
            <ul>
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
            </ul>
        </li>
        <li>
            <strong>Category 3</strong>
            <ul>
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
            </ul>
        </li>
    </ul>
</div>

<header id="header">
    <div>
        <div class="mui-appbar">
            <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">☰</a>
            <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">☰</a>
            <a [routerLink]="['/']" class="mui--appbar-height mui--appbar-line-height" style="color:white;">{{pageTitle}}</a>
        </div>

        <ul id="slide-out" class="side-nav fixed" id="mobile-demo">
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/contact']">Contact</a></li>

        </ul>
        <div class="container mui-panel">
            <router-outlet></router-outlet>
        </div>
    </div>
</header>