<main class="content">
        <div class="content-header ui-content-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
                        <h1 class="content-heading">{{pageTitle}}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
                    <section class="content-inner margin-top-no">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner">
                                    <p>Hello and welcome to our current home component. This will be modified later on but is like this for testing purposes.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>